@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-icon: var(--icon);

	--text-heading: 2rem; /* 32px */
	--text-heading--line-height: calc(2.25 / 2); /* 1.125 */

	--text-pattern-list-item-title: 1.5rem; /* 24px */
	--text-pattern-list-item-title--line-height: calc(2 / 1.5); /* 1.333 */
}

@theme {
	--color-neutral-50: var(--color-neutral-50);
	--color-neutral-100: var(--color-neutral-100);
	--color-neutral-200: var(--color-neutral-200);
	--color-neutral-300: var(--color-neutral-300);
	--color-neutral-400: var(--color-neutral-400);
	--color-neutral-500: var(--color-neutral-500);
	--color-neutral-600: var(--color-neutral-600);
	--color-neutral-700: var(--color-neutral-700);
	--color-neutral-800: var(--color-neutral-800);
	--color-neutral-900: var(--color-neutral-900);
	--color-neutral-950: var(--color-neutral-950);
}

:root {
	--color-neutral-50: oklch(0.9791 0 0);
	--color-neutral-100: oklch(0.9612 0 0);
	--color-neutral-200: oklch(0.8945 0 0);
	--color-neutral-300: oklch(0.7984 0 0);
	--color-neutral-400: oklch(0.6797 0 0);
	--color-neutral-500: oklch(0.5863 0 0);
	--color-neutral-600: oklch(0.5068 0 0);
	--color-neutral-700: oklch(0.4386 0 0);
	--color-neutral-800: oklch(0.3942 0 0);
	--color-neutral-900: oklch(0.36 0 0);
	--color-neutral-950: oklch(0.2809 0 0);

	--color-teal-dark: oklch(0.35 0.15 180);
	--color-teal-default: oklch(0.95 0.08 180);
	--color-teal-light: oklch(0.97 0.06 180);

	--color-ochre-dark: oklch(0.45 0.15 85);
	--color-ochre-default: oklch(0.95 0.08 85);
	--color-ochre-light: oklch(0.96 0.05 85);

	--color-fuschia-dark: oklch(0.35 0.15 300);
	--color-fuschia-default: oklch(0.85 0.15 300);
	--color-fuschia-light: oklch(0.9 0.1 300);

	--color-cerulean-dark: oklch(0.35 0.15 240);
	--color-cerulean-default: oklch(0.8 0.12 240);
	--color-cerulean-light: oklch(0.88 0.08 240);

	--color-moss-dark: oklch(0.45 0.12 120);
	--color-moss-default: oklch(0.75 0.2 120);
	--color-moss-light: oklch(0.9 0.1 120);

	--color-purple-dark: oklch(0.3 0.2 270);
	--color-purple-default: oklch(0.85 0.08 270);
	--color-purple-light: oklch(0.9 0.06 270);

	--color-coral-dark: oklch(0.4 0.15 25);
	--color-coral-default: oklch(0.8 0.15 25);
	--color-coral-light: oklch(0.92 0.08 25);

	--color-green-dark: oklch(0.25 0.15 150);
	--color-green-default: oklch(0.8 0.15 120);
	--color-green-light: oklch(0.9 0.1 120);

	--radius: 0.625rem;
	--background: var(--color-neutral-100);
	--foreground: var(--color-neutral-950);
	--card: var(--color-neutral-50);
	--card-foreground: var(--color-neutral-950);
	--popover: var(--color-neutral-50);
	--popover-foreground: var(--color-neutral-950);
	--primary: var(--color-neutral-900);
	--primary-foreground: var(--color-neutral-50);
	--secondary: var(--color-neutral-200);
	--secondary-foreground: var(--color-neutral-800);
	--muted: var(--color-neutral-100);
	--muted-foreground: var(--color-neutral-300);
	--accent: var(--color-neutral-100);
	--accent-foreground: var(--color-neutral-900);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--color-neutral-200);
	--input: var(--color-neutral-200);
	--ring: var(--color-neutral-300);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: var(--color-neutral-50);
	--sidebar-foreground: var(--color-neutral-950);
	--sidebar-primary: var(--color-neutral-900);
	--sidebar-primary-foreground: var(--color-neutral-50);
	--sidebar-accent: var(--color-neutral-100);
	--sidebar-accent-foreground: var(--color-neutral-900);
	--sidebar-border: var(--color-neutral-200);
	--sidebar-ring: var(--color-neutral-300);
	--icon: oklch(0.6902 0.0515 134.87);

	--theme-badge-text: var(--color-orche-dark);
	--theme-badge-background: var(--color-ochre-default);
	--theme-badge-border: var(--color-ochre-light);

	--tag-badge-text: var(--color-purple-dark);
	--tag-badge-background: var(--color-purple-default);
	--tag-badge-border: var(--color-purple-light);

	--audience-badge-text: var(--color-cerulean-dark);
	--audience-badge-background: var(--color-cerulean-default);
	--audience-badge-border: var(--color-cerulean-light);

	--solution-badge-text: var(--color-coral-dark);
	--solution-badge-background: var(--color-coral-default);
	--solution-badge-border: var(--color-coral-light);

	--resource-badge-text: var(--color-fuschia-dark);
	--resource-badge-background: var(--color-fuschia-default);
	--resource-badge-border: var(--color-fuschia-light);

	--pattern-badge-text: var(--color-teal-dark);
	--pattern-badge-background: var(--color-teal-default);
	--pattern-badge-border: var(--color-teal-light);
}

.dark {
	--background: var(--color-neutral-950);
	--foreground: var(--color-neutral-50);
	--card: var(--color-neutral-900);
	--card-foreground: var(--color-neutral-50);
	--popover: var(--color-neutral-900);
	--popover-foreground: var(--color-neutral-50);
	--primary: var(--color-neutral-200);
	--primary-foreground: var(--color-neutral-900);
	--secondary: var(--color-neutral-800);
	--secondary-foreground: var(--color-neutral-200);
	--muted: var(--color-neutral-600);
	--muted-foreground: var(--color-neutral-300);
	--accent: var(--color-neutral-600);
	--accent-foreground: var(--color-neutral-50);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: var(--color-neutral-900);
	--sidebar-foreground: var(--color-neutral-50);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: var(--color-neutral-50);
	--sidebar-accent: var(--color-neutral-600);
	--sidebar-accent-foreground: var(--color-neutral-50);
	--sidebar-border: var(--color-neutral-700);
	--sidebar-ring: var(--color-neutral-500);
	--icon: oklch(0.6902 0.0515 134.87);
}

@layer base {
	:root {
		color-scheme: light;
	}
	* {
		@apply border-border outline-ring/50;
	}
	html {
		@apply antialiased;
	}
	body {
		@apply bg-background text-foreground font-normal;
	}
	#app {
		height: 100vh;
		max-height: 100dvh;
		overscroll-behavior: none;
		-webkit-font-smoothing: antialiased;
		overflow: auto;
	}
	button:not([disabled]),
	[role="button"]:not([disabled]) {
		cursor: pointer;
	}
}

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.text-body {
		@apply text-base text-primary prose;
	}

	.text-button {
		font-size: 0.875rem; /* 14px */
		line-height: calc(1.25 / 0.875); /* 1.429 */
		text-transform: uppercase;
	}

	.text-badge {
		font-size: 0.875rem; /* 14px */
		line-height: calc(1.25 / 0.875); /* 1.429 */
		text-transform: capitalize;
	}

	.text-heading {
		font-size: var(--text-heading);
		line-height: var(--text-heading--line-height);
		font-weight: 500; /* medium */
		text-transform: capitalize;
		color: var(--text-primary);
		text-align: left;
	}

	.text-section-heading {
		font-size: var(--text-heading);
		line-height: var(--text-heading--line-height);
		font-weight: 500; /* medium */
		text-transform: capitalize;
		color: var(--text-primary);
		text-align: left;
	}

	.text-pattern-list-item-title {
		font-size: var(--text-pattern-list-item-title);
		line-height: var(--text-pattern-list-item-title--line-height);
		font-weight: 500; /* medium */
		text-transform: capitalize;
		color: var(--text-primary);
		text-align: left;
	}
}

@utility prose {
	--tw-prose-body: var(--foreground);
	--tw-prose-headings: var(--foreground);
	--tw-prose-lead: var(--muted-foreground);
	--tw-prose-links: var(--primary);
	--tw-prose-bold: var(--foreground);
	--tw-prose-counters: var(--muted-foreground);
	--tw-prose-bullets: var(--muted-foreground);
	--tw-prose-hr: var(--border);
	--tw-prose-quotes: var(--foreground);
	--tw-prose-quote-borders: var(--border);
	--tw-prose-captions: var(--muted-foreground);
	--tw-prose-code: var(--foreground);
	--tw-prose-pre-code: var(--muted-foreground);
	--tw-prose-pre-bg: var(--card);
	--tw-prose-th-borders: var(--border);
	--tw-prose-td-borders: var(--border);
}
